.profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.profileSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}
.eventsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}  
.eventsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}
.profileImage
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
