.event-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.event-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}