* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #6D5D4B;
  width: 100%;
  position: relative;
  min-width: 1000px;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; 
}

.logo-image {
  height: 60px;
  width: auto;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 1rem; 
}

.create-event-button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #6D5D4B;
  font-family: "quicksand", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.profile-button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.create-event-button:hover,
.profile-button:hover {
  filter: brightness(0.8);
}

.button-image {
  height: 60px;
  width: auto;
  border-radius: 10px;
}

.logo-image {
  height: 60px;
  width: auto;
}